<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/Index.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <!---Header-->

    <div class="header-line"></div>
    <div class="header-container">
        <img src="Assets/Images/logo.png" class="logo">
        <h1 class="company-name">My Console World</h1>
        <div class="buttons">
            <a href="Sign.html" class="btn btn-secondary">Sign up</a>
            <a href="Login.html" class="btn btn-primary">Login</a>
        </div>
    </div>

    <!---Imagens com texto e "background"-->

        <img src="Assets/Images/ps_xbx_nin_stm.jpg" class="bg-image" alt="background">
        <div class="image-with-text top-left">
            <img src="Assets/Images/computer-game.png" class="small-image" alt="computer">
            <span class="image-text">Never forget what you've played.<br>Save what you want to play next.<br><b>Start tracking your games today</b>.</span>
        </div>
        <div class="image-with-text top-right">
            <img src="Assets/Images/game.png" class="small-image" alt="game">
            <span class="image-text">Add your games to their respective <br> console collections and never lose <br> track of your game library again!</span>
        </div>
        <div class="image-with-text bottom-left">
            <img src="Assets/Images/games.png" class="small-image" alt="games">
            <span class="image-text">Keep track of your games <br> through <b>My Console World</b> website. <br> Available in desktop or mobile</span>
        </div>
        <div class="image-with-text bottom-right">
            <img src="Assets/Images/resume.png" class="small-image" alt="resume">
            <span class="image-text">Customize your username, profile picture <br> and much more as you wish!</span>
        </div>
    
    <div style="position: relative;">
        <hr class="hr">
    
        <div class="trending-text">
            Game review of the week
        </div>
    </div>

    <!---Review de jogo-->

    <h3 style="text-align: center;">Enjoy the review of the <b>My Console World </b>game of the week!</h3>
    <h4 style="text-align: center;">Game of this week: Ghost of Tsushima</h4>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MHrsygIxC5k?si=xKT9KZ_jDK3f7iIS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>


<div style="position: relative;">
    <hr class="hr"> 

    <div class="trending-text">
        Trending games
    </div>
</div>

    <!---Jogos populares no momento-->

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-md-2">
                  <a href="https://www.ea.com/games/ea-sports-fc/fc-24" target="_blank">
                    <img src="Assets/Images/Fifa24.jpg" alt="Fifa 24" class="img-games">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.naughtydog.com/blog/the_last_of_us_part_ii" target="_blank">
                    <img src="Assets/Images/Thelastofus.jpg" alt="The Last of Us" class="img-games">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.rockstargames.com/reddeadredemption2" target="_blank">
                    <img src="Assets/Images/red_dead_redemption_2.jpg" alt="Red Dead Redemption 2" class="img-games">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://scarletviolet.pokemon.com/en-us/" target="_blank">
                    <img src="Assets/Images/Scarlet.jpg" alt="Pokemon Scarlet" class="img-games">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.counter-strike.net/cs2?l=english" target="_blank">
                    <img src="Assets/Images/Cs2_boxart.jpg" alt="CS2" class="img-games">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row justify-content-between">
                <div class="col-md-2">
                  <a href="https://www.fortnite.com" target="_blank">
                    <img src="Assets/Images/game--fortnite.jpg" alt="Fortnite" class="img-games3">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.leagueoflegends.com" target="_blank">
                    <img src="Assets/Images/game--league-of-legends.png" alt="LOL" class="img-games3">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.rocketleague.com" target="_blank">
                    <img src="Assets/Images/game--rocket-league.png" alt="Rocket" class="img-games3">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://playvalorant.com" target="_blank">
                    <img src="Assets/Images/game--valorant.png" alt="Valorant" class="img-games3">
                  </a>
                </div>
                <div class="col-md-2">
                  <a href="https://www.cyberpunk.net" target="_blank">
                    <img src="Assets/Images/cyberpunk.png" alt="Cyberpunk" class="img-games3">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      

<div style="position: relative;">
    <hr class="hr">

    <div class="trending-text">
        All time popular
    </div>
</div>

<!---Jogos mais jogados de sempre-->

<div id="carouselExampleCaptions2" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-2">
                <a href="https://www.minecraft.net/en-us" target="blank">
                    <img src="Assets/Images/Minecraft_game_cover.jpeg" alt="Minecraft" class="img-games2">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.rockstargames.com/gta-v" target="blank">
                <img src="Assets/Images/GTA5.jpg" alt="GTA5" class="img-games2">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://tetris.com/" target="blank">
                <img src="Assets/Images/tetris.jpg" alt="Tetris" class="img-games2">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.nintendo.com/en-gb/Games/Wii/Wii-Sports-283971.html" target="blank">
                <img src="Assets/Images/WiiSports.jpg" alt="Wii Sports" class="img-games2">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://pubg.com/en/events/7th_anniversary" target="blank">
                <img src="Assets/Images/Pubg.jpg" alt="PUBG" class="img-games2">
                </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-2">
              <a href="https://mariokart8.nintendo.com" target="_blank">
                <img src="Assets/Images/MarioKart8Boxart.jpg" alt="MarioKart8" class="img-games4">
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://www.rockstargames.com/reddeadredemption2" target="_blank">
                <img src="Assets/Images/red_dead_redemption_2.jpg" alt="RDR2" class="img-games4">
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://mario.nintendo.com" target="_blank">
                <img src="Assets/Images/mario_bros.jpeg" alt="Rocket" class="img-games4">
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://overwatch.blizzard.com" target="_blank">
                <img src="Assets/Images/overwatch.jpg" alt="Valorant" class="img-games4">
              </a>
            </div>
            <div class="col-md-2">
              <a href="https://https://www.thewitcher.com/" target="_blank">
                <img src="Assets/Images/Witcher_3_cover_art.jpg" alt="Cyberpunk" class="img-games4">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  



    <!---Footer-->

<footer class="footer">
        <a href="terms-of-service.html">Terms of use</a>
        <a href="privacy-policy.html">Privacy Policy</a>
    <div>
        <span> Copyright 2024 - My Console World. All rights reserved. </span>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>
