<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../Styles/Sign.css" rel="stylesheet" />
  </head>
  <body class="d-flex align-items-center">
    <div class="container">
      <div class="cabecalho">
        <a class="borda1" href="/index">&lt; Back</a>
      </div>
      <div class="row">
        <div class="col-md-6 mx-auto login-container">
          <img src="../Assets/Images/logo.png" alt="Logo" class="logo" />
          <h2>Register</h2>
          <p class="signin-text">Create your account</p>
          <form>
            <div class="form-group position-relative">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Username"
                style="padding-left: 40px"
              />
              <img
                src="../Assets/Images/user_icon.png"
                class="email-icon img-fluid"
                alt="Email"
              />
            </div>
            <div class="form-group position-relative">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                style="padding-left: 40px"
              />
              <img
                src="../Assets/Images/cadeado.png"
                class="cadeado-icon img-fluid"
                alt="Senha"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary"
              onclick="validaPassword()"
            >
              Create account
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const novoUser = async () => {
        var dados = {
          email: document.getElementById("username").value,
          password: document.getElementById("password").value,
          isAdmin: false,
        };
        console.log(dados);
        fetch("http://localhost:4242/signup.html", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(dados),
        })
          .then((response) => {
            // Verifica se a resposta foi bem sucedida
            if (!response.ok) {
              throw new Error("Erro ao obter os dados");
            }
            // Converte a resposta para JSON
            return response.json();
          })
          .then((data) => {
            // Faz algo com os dados
            alert("O " + dados.name + " foi adicionado com sucesso!");
          })
          .catch((error) => {
            // Captura qualquer erro de rede ou tratamento de erro
            alert("Houve um erro:", error);
          });
      };
    </script>
    <script>
      function validaPassword() {
        var password1 = document.getElementById("password").value;

        // Validate through RegularExpression
        var passwordcheck1 =
          /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

        if (!passwordcheck1.test(password1)) {
          alert("Password inválida");
          return false;
        }
        novoUser();
        return true;
      }
    </script>
  </body>
</html>
